.newEncashmentContainer {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
}
.newEncashmentTitle {
	width: fit-content;
	padding-right: 128px;
	color: #fff;
	border-bottom: 2px solid #db498f;
}
.newEncashmentForm {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 8px;
}

.billsCountContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.newEncashmentInputsTitlesContainer {
	color: #fff;
	display: flex;
	gap: 32px;
	border-bottom: 2px solid #db498f;
}
.newEncashmentInputsContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.newEncashmentLabelContainer {
	display: grid;
	grid-template-columns: 25% 75%;
}
.newEncashmentLabel {
	color: #fff;
	font-size: 20px;
}
.newEncashmentInput {
	width: 100px;
	justify-self: center;
	font-size: 20px;
	outline: none;
	border: none;
	border-radius: 4px;
	padding: px 0;
	text-align: center;
}
.newEncashmentFormBtns {
	margin-top: 16px;
	display: flex;
	gap: 8px;
}
.btn {
	flex: 1 1 50%;
	border: none;
	outline: none;
	padding: 4px 0;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	transition: 300ms;
	&:hover {
		box-shadow: #fff 0px 1px 3px 0px, #fff 0px 0px 0px 1px;
	}
}
.btnSuccess {
	background-color: #124616;
}
.btnCancel {
	background-color: #db498f;
}
