.newEncashmentContainer {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
}
.newEncashmentTitle {
	width: fit-content;
	padding-right: 128px;
	color: #fff;
	border-bottom: 2px solid #db498f;
}
