.addUserForm {
	margin-top: 32px;
	width: fit-content;
	display: flex;
	flex-direction: column;
}
.addUserFormTitle {
	padding: 0 32px;
	margin-bottom: 16px;
	font-weight: 300;
	border-bottom: 1px solid #fff;
}
.addUserFormLabelesContainer {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.addUserFormLabel {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	position: relative;
}
.addUserFormInput {
	border: none;
	border-radius: 4px;
	padding: 4px 8px;
	font-size: 20px;
}
.passwordInputContainer {
	position: relative;
}
.passwordInput {
	width: 100%;
	box-sizing: border-box;
}
.iconContainer {
	position: absolute;
	right: 8px;
	top: 8px;
}
.icon {
	cursor: pointer;
}
.errors {
	margin-top: 4px;
	text-align: center;
	font-size: 15px;

	color: #501319;
}
.addUserFormBtns {
	margin-top: 16px;
	display: flex;
	width: 100%;
	gap: 4px;
}
.addUserFormBtn {
	flex: 1 1 50%;
	padding: 8px 0;
	font-size: 16px;
	font-weight: 600;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	letter-spacing: 2px;
	color: #fff;
	transition: 300ms;
	&:hover {
		box-shadow: #fff 0px 1px 3px, #fff 0px 1px 2px;
	}
}
.btnSuccess {
	background-color: #198754;
}
.btnCancel {
	background-color: #d53343;
}
