.toastContainer {
	position: relative;
	width: fit-content;
	display: flex;
	gap: 64px;
	border: 1px solid #fff;
	padding: 16px 8px;
}
/* .toastTypeIcon {
	size: 50px;
} */
.toastMessageContainer {
	margin-right: 64px;
	align-content: center;
}
.toastCloseContainer {
	position: absolute;
	right: 4px;
	top: 4px;
}
