.loginForm {
	width: fit-content;
	padding: 32px 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	background-color: #3a673d;
	border: 2px solid #db498f;
	border-radius: 10px;
}
.loginFormTitle {
	font-weight: 600;
	font-size: 32px;
	color: #fff;
}
.loginFormInputs {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.loginFormLabel {
	display: flex;
	flex-direction: column;
	gap: 2px;
	font-size: 22px;
	color: #fff;
	text-align: center;
}
.loginFormInput {
	padding: 8px 16px;
	font-size: 26px;
	border-radius: 25px;
	outline: none;
	border: none;

	&:focus {
		outline: 3px solid #041305;
	}
}
.loginFormBtnContainer {
	width: 100%;
}
.loginFormBtn {
	width: 100%;
	padding: 8px 0;
	font-size: 16px;
	border-radius: 15px;
	border: none;
	background-color: #db498f;
	color: #fff;
	box-shadow: #fff 0px 1px 3px 0px, #fff 0px 0px 0px 1px;
	cursor: pointer;
	transition: 300ms;
	&:hover {
		box-shadow: #fff 0px 1px 3px 2px, #fff 0px 0px 0px 2px;
	}
}
