.loginForm {
	width: fit-content;
	padding: 32px 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.loginFormTitle {
	font-weight: 600;
	font-size: 32px;
	color: #0da7e4;
}
.loginFormInputs {
	/* margin-top: 16px; */
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.loginFormLabel {
	display: flex;
	flex-direction: column;
	gap: 2px;
	font-size: 22px;
	font-weight: 600;
	color: #db498f;
	text-align: center;
}
.loginFormInput {
	padding: 8px 16px;
	font-size: 26px;
	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	ыф &:focus {
		border-width: 3px;
		border-image: linear-gradient(
				to right,
				hsla(59, 86%, 68%, 1) 0%,
				hsla(134, 36%, 53%, 1) 100%
			)
			1;
	}
}
.loginFormBtnContainer {
	width: 100%;
}
.loginFormBtn {
	width: 100%;
	padding: 16px 0;
	font-size: 16px;
	border-radius: 15px;
	letter-spacing: 2px;
	font-weight: 600;
	border: none;
	background: linear-gradient(
		90deg,
		hsla(59, 86%, 68%, 1) 0%,
		hsla(134, 36%, 53%, 1) 100%
	);
	color: #fff;
	box-shadow: #fff 0px 1px 3px 0px, #fff 0px 0px 0px 1px;
	cursor: pointer;
	transition: 300ms;
	&:hover {
		box-shadow: #fff 0px 1px 3px 2px, #fff 0px 0px 0px 2px;
	}
}
