.container {
	width: 100%;
	height: 100%;
	background-color: #3a673d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;
}
.logo {
	width: fit-content;
	border-radius: 10px;
	border: 2px solid #db498f;
}
.logoImg {
	border-radius: 10px;
}
.signinLink {
	background-color: #db498f;
	color: #fff;
	padding: 16px 32px;
	border-radius: 10px;
	font-size: 18px;
	display: -webkit-box;
}
.loadingContainer {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #3a673d;
}
.loadingIcon {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: transparent;
	animation: spin infinite 1s linear;
}
.notFoundContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.notFoundTitle {
	color: #78dfe8;
}
.notFoundLink {
	/* margin-top: 8px; */
	color: #db498f;
	font-weight: 600;
	&:hover {
		text-decoration: underline;
	}
}
@media screen and (max-width: 600px) {
	.logoImg {
		width: 400px;
		height: 200px;
	}
	.linkContainer {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.signinLink {
		width: 100%;
		display: flex;
		justify-content: center;
		border-radius: none;
	}
}
@media screen and (min-width: 600px) {
	.logoImg {
		width: 500px;
		height: 400px;
	}
}
@media screen and (min-width: 992px) {
	.logoImg {
		width: 800px;
		height: 500px;
	}
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
