.usersTableContainer {
	position: relative;
}
.usersTable {
	border-collapse: collapse;
	border: 2px solid rgb(140 140 140);
	font-size: 0.8rem;
	letter-spacing: 1px;
}

.usersTableHead {
	background-color: rgb(228 240 245);
}
.usersTableBody {
	color: #fff;
}
.usersTableTh,
.usersTableTd {
	border: 1px solid rgb(160 160 160);
	padding: 8px 10px;
	text-align: center;
}

.deleteIcon {
	margin-bottom: 4px;
	cursor: pointer;
	transition: 300ms;
	color: #db498f;
	&:hover {
		scale: 1.2;
	}
}

.deleteUserContainer {
	position: relative;
	padding: 4px 0;
	transition: 300ms;
}
.toolTip {
	position: absolute;
	visibility: hidden;
	font-size: 10px;
	left: 10px;
	bottom: 0;
}
.deleteUserContainer:hover .toolTip {
	visibility: visible;
}
