.operationsTable {
	border-collapse: collapse;
	border: 2px solid rgb(140 140 140);
	font-family: sans-serif;
	font-size: 0.8rem;
	letter-spacing: 1px;
}

.operationsTableHead {
	background-color: rgb(228 240 245);
}

.operationsTableTh,
.operationsTableTd {
	border: 1px solid rgb(160 160 160);
	padding: 8px 10px;
	text-align: center;
}

/* .operationsTableTd:last-of-type {
} */

.operationsTableBody > tr:nth-of-type(even) {
	background-color: rgb(237 238 242);
}
